<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="App Xem Phim"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAnVeXemPhim"
        tools:targetApi="31">
        <activity
            android:name=".gui_mail"
            android:exported="false" />
        <activity
            android:name="com.example.ThongTinPhimAdminActivity"
            android:exported="false" />
        <activity
            android:name=".rap_va_lich_chieu"
            android:exported="false" />
        <activity
            android:name="com.example.DoanhThuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.TaiKhoanAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ChinhSuaPhimActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ThemPhimActivity"
            android:exported="false" />
        <activity
            android:name="com.example.QuanTriAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.chi_tiet_giao_dich"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="com.example.LoginActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; Activity Đăng Ký &ndash;&gt; -->
        <activity
            android:name="com.example.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.LoginActivity"
            android:exported="true"> <!-- Activity Đăng Nhập (LoginActivity) sẽ là màn hình đầu tiên khi mở ứng dụng -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.PhimYeuThich"
            android:exported="false" />
        <activity
            android:name="com.example.TaiKhoanCuaToi"
            android:exported="false" />
        <activity
            android:name="com.example.VeCuaToi"
            android:exported="false" />
        <activity
            android:name="com.example.ChiTietGiaoDich"
            android:exported="false" />
        <activity
            android:name="com.example.LichChieuVaGhe"
            android:exported="false" />
        <activity
            android:name=".adapters.ThongTinPhimActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>